.row {
  display: grid;
  /* grid-template-columns: 50px 150px 150px 200px 200px repeat(5, 105px) repeat(5,105px) ; */
  grid-template-columns: min-content repeat(15, 100px);
  align-items: center;

  font-size: 12px;
  font-weight: 400;

  min-height: 28px;

  border-bottom: 1px solid rgb(160, 160, 160);
}

.col {
  padding: 0 8px;
}
.selectedRow {
  background-color: rgba(103, 202, 255, 0.5);
  outline: 2px solid rgb(44, 143, 255);
}
.selectedCol {
  background-color: rgba(103, 202, 255, 0.8);
  outline: 2px solid rgb(44, 143, 255);
}
