.filterContainer {
  display: flex;
  align-items: center;

  min-width: 200px;
  width: 100%;
  max-width: 400px;
}
.filterForm {
  display: grid;
  grid-template-columns: 2fr 2fr minmax(60px, 70px);
  position: relative;

  margin: -4px 0;

  height: 100%;
  width: 100%;
}
.customFounder {
  min-width: 80px;
}
.inputFounder {
  width: 100%;

  min-height: 30px;

  padding: 2px 4px;

  border: 2px solid transparent;
  transition: all var(--timing-function__main);
  &:hover,
  &:focus-visible {
    outline-style: none;
    border-color: var(--brand_clr__1);
  }
}
.customSelect {
  position: relative;
  // overflow: hidden;
  // width: 150px;
  max-height: 30px;
  min-width: 80px;
}
.inputParam {
  min-height: 30px;

  width: 100%;

  // margin: -4px 0;
  padding: 2px 4px;

  border: 2px solid transparent;
  transition: all var(--timing-function__main);
  &:hover,
  &:focus-visible {
    outline-style: none;
    border-color: var(--brand_clr__1);
  }
}
.selectList {
  min-width: 100%;
  width: fit-content;

  overflow: auto;

  background-color: #fff;

  transition: all var(--timing-function__main);
}
.selectShown {
  max-height: 200px;
}
.selectHidden {
  max-height: 0;
}
.selectItem {
  padding: 4px;

  white-space: nowrap;

  cursor: default;
  &:hover {
    background-color: rgb(203, 203, 203);
  }
}
.button {
  display: flex;
  align-items: center;

  min-height: 30px;

  border-style: none;
  border: 2px solid transparent;

  background-color: #fff;
  &:hover {
    border: 2px solid var(--brand_clr__1);
  }
  &:active {
    box-shadow: inset 0 0 5px rgba(122, 122, 122, 0.5);
    border: 2px solid var(--brand_clr__1);
  }
}
.notification {
  position: absolute;

  top: 50%;
  left: 110%;
  z-index: 10;

  width: fit-content;
  min-height: 100%;

  padding: 8px;

  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;

  border-radius: 4px;

  transform: translateY(-50%);

  background-color: rgba(255, 255, 255, 0.5);
}
