.col {
  position: relative;

  padding: 8px 4px;

  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  &:hover {
    background-color: rgba(103, 202, 255, 0.8);
    outline: 2px solid rgb(44, 143, 255);
  }
}
.text {
  display: block;
  max-width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  cursor: default;
  pointer-events: none;
}
.hint,
.hintLink {
  position: absolute;

  top: 100%;
  left: 0;
  z-index: 4;

  padding: 8px 4px;

  min-width: 100%;
  min-height: 100%;

  color: #fff;
  white-space: nowrap;

  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.6);

  transition: all var(--timing-function__main);
}
.hintLink {
  text-decoration: underline;
}
